*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.sketch-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    background-color: rgb(212, 211, 211);
}

.sketch-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
}

.sketch-screen > div{
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sketch-screen > div > *{
    flex: 1;
}